[tool.uvicorn]
reload-exclude = [".venv/**", "**/__pycache__/**", "**/*.pyc"]

[tool.black]
line-length = 100
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | venv
  | __pycache__
  | migrations
  | \.next
)/
'''

[tool.isort]
profile = "black"
line_length = 100
known_first_party = ["app"]
skip_gitignore = true

[tool.mypy]
python_version = "3.11"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
ignore_missing_imports = true
exclude = [
    "migrations/",
    "__pycache__/",
    ".venv/",
    "venv/",
]

